body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 24px 0;
  background-color: #ffffff;
}

.header-nav {
  margin-bottom: 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  margin-top: 16px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 16px 32px;
  min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.section {
  padding: 96px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 48px;
}

.features-item:not(:last-child) {
  margin-bottom: 72px;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.team-card:not(:last-child) {
  margin-bottom: 72px;
}

.portfolio-card:not(:last-child) {
  margin-bottom: 48px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
